@font-face {
  font-family: "Graphik";
  font-weight: 600;
  src: url("./@demex-info/assets/fonts/Graphik-Semibold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Graphik";
  font-weight: 500;
  src: url("./@demex-info/assets/fonts/Graphik-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Graphik";
  font-weight: 400;
  src: url("./@demex-info/assets/fonts/Graphik-Regular.ttf") format("truetype");
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
