@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Play:wght@400;700&display=swap');

@font-face {
  font-family: "Graphik";
  font-weight: 600;
  src: url("./@demex-info/assets/fonts/Graphik-Semibold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Graphik";
  font-weight: 500;
  src: url("./@demex-info/assets/fonts/Graphik-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Graphik";
  font-weight: 400;
  src: url("./@demex-info/assets/fonts/Graphik-Regular.ttf") format("truetype");
  font-display: swap;
}
